# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore SQLite database files (optional if using SQLAlchemy)
*.db

# Ignore environment files
.env

# Ignore VSCode settings (optional)
.vscode/

# Ignore mac automatic generate files
.DS_Store

#Ingore shell
shell.py

#ignore temp_uploads
temp_uploads/*
!temp_uploads/.gitkeep

# Ignore temp_pictures
Static/uploads/
