/* Global style */
body {
    /* Text */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #8b4d01;
    margin: 0; /* Removes default body margin */
    padding: 0; 
}  


/* Header container */
header {
  background: linear-gradient(to bottom, #3b2a05 0%, #412e05 100%);
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Left | Center | Right */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #4b3102;
}


/* Gradient background starting below the header */
main {
  background: linear-gradient(to bottom, #d2b48c 0%, #fff8dc 100%);
  min-height: 100vh;
  padding: 1.5rem;
}


/* Logo - FitBug */
header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 165, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Navigation links */
header nav { /* positioning (center) */
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a { /* link text */
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 1.5rem;
  text-decoration: none;
  color: rgb(250, 183, 58);
  transition: text-decoration 0.2s ease;
}
/* underline when hovered over */
header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
 }


/* Login & Sign up / Account container */
.actions { /* button positioning (RHS) */
  justify-self: end;
  display: flex;
  gap: 0.45rem;
}
.actions button { /* general button specifications */
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0.5rem;
  border: 0;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  border-left: 3px solid rgba(255, 255, 255, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: border 0.2s ease;
}
.actions .login { /* login button */
  background-color: rgb(253, 228, 181);
  color: black;
}
.actions .signup { /* signup button */
  background-color: rgb(199, 129, 0);
  color: whitesmoke;
}
/* highlight with border when hovered over */
.actions .login:hover { 
  border-bottom: 4px solid rgb(199, 129, 0);
  border-left: 3px solid rgb(199, 129, 0);
}
.actions .signup:hover {
 border-bottom: 4px solid rgb(253, 228, 181);
 border-left: 3px solid rgb(253, 228, 181);
}
.profile-pic { /* profile picture specifications */
 width: 5rem;
 height: 5rem;
 object-fit: cover; /* Ensures the image fits */
 border-radius: 50%; /* circle */
 border: 3px solid #f8d592; 
 cursor: pointer;
 transition: transform 0.2s ease; /* Add a hover effect */
}
.profile-pic:hover {
 border: 3px solid rgb(199, 129, 0);
 box-shadow: #fff8dc 0px 0px 10px;
}



/* footer */
footer {
  background: #fff8dc;
  color: rgba(184, 121, 3, 0.925);
  font-weight: 700;
  text-align: center;
  padding: 0.2rem;
  margin-top: 0;
  position: relative;
}