<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracking System: FitBug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>
<body>
    <header>
        <div class="logo">FitBug</div>
        <nav>
            <a href="#">Home</a>
            <a href="{{ url_for('analyze') }}">Data Analysis</a>
            <a href="Templates/base.html">Account</a>
        </nav>
        <div class="actions">
            <a href="Templates/login.html">
                <button class="login">Login</button>
            </a>
            <a href="Templates/register.html">
                <button class="signup">Sign Up</button>
            </a>
        </div>
    </header>