<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot your password?</h2>

        <input type="email" name="email" id="emailInput" placeholder="Enter your email" required><br><br>
        <button type="button" id="sendBtn">Send Code</button>
        <div id="messageArea"></div>
        <br><br>

    <form method="POST" action="{{ url_for('auth.verify_code')  }}">
        <input type="text" name="code" placeholder="Enter verification code" required><br><br>
        <button type="submit" id="submitBtn">Submit Code</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>

<script>
    function sendCode(){
        console.log("Send Code button clicked");
        const email=document.getElementById('emailInput').value;
        const button = document.getElementById('sendBtn');
        const messageArea = document.getElementById('messageArea');

        if (!email){
            messageArea.innerText = "Please enter your email address."
            return
        }

        //prevent click on button again
        button.disabled = true;
        button.innerText = "Sending..."

        //use asyn request to back-end
        fetch('{{ url_for("auth.send_code") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email:email})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                messageArea.innerText = "Verification code sent successfully!";
                // start countdown
                startCountdown();
            } else {
                messageArea.innerText = "Failed to send code: " + data.error;
                button.disabled = false;
                button.innerText = "Send Code"
            }
        })
        .catch(error => {
            messageArea.innerText = "Error sending request."
            console.log('Fetch error', error)
            button.disabled = false;
            button.innerText = "Send Code"
        });     
    }

    function startCountdown() {
        let button = document.getElementById('sendBtn');
        let timeLeft = 60;
    
        button.disabled = true;
        button.innerText = "Resend in " + timeLeft + "s";
    
        let countdown = setInterval (function() {
            timeLeft--;
            button.innerText = "Resend in " + timeLeft + "s";
            //prevent delay problems from setting negative number
            if(timeLeft<=0){
                //stop countdown
                clearInterval(countdown);
                button.disabled = false;
                button.innerText = "Resend Code";
            }
        },1000);
    }
document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('sendBtn').addEventListener('click', sendCode)
});
</script>
</html>