{% extends "based.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
{% endblock %}


{% block content %}
<section class="banner">
    <img 
    src="{{ url_for('static', filename='images/flyingbug.png') }}" 
    class="bug" 
    alt="Blundering Oberlisk crawling"
    >
    <h1>Welcome to FitBug</h1>
    <p>Your personal exercise tracking system</p>
</section>
<section class="features">
    <h2>More than an Exercise Tracking System...</h2>
    <div class="flip-card-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/cornifer2.webp') }}" alt="Bug Scibing info">
                    <h3>Analyse your progress</h3>
                </div>
                <div class="flip-card-back">
                    <p>See a detailed breakdown of each exercise.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/share_achievements.webp') }}" alt="Bug speaking into mic">
                    <h3>Share achievements</h3>
                </div>
                <div class="flip-card-back">
                    <p>Get encouragement from friends and fellow runners.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/nailsmith.webp') }}" alt="Feature 3">
                    <h3>Plan your exercises</h3>
                </div>
                <div class="flip-card-back">
                    <p>Browse popular exercises or plan your own.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wellness">
    <h2>Take your Wellness to the next level</h2>
    <div class="wellness-content">
        <div class="wellness-text">
            <p>To elevate your wellness, focus on a holistic approach, including physical, mental, and spiritual aspects. This means prioritizing healthy habits, engaging in activities you enjoy, and finding time for self-care and relaxation. Consider incorporating practices like meditation, regular exercise, healthy eating, and adequate sleep. Remember to consult with your healthcare provider before making significant changes to your lifestyle.</p>
            <div class="actions" id="homepage_actions">
                <a href="/login">
                    <button class="login">Login</button>
                </a>
                <a href="/register">
                    <button class="signup">Sign Up</button>
                </a>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/image5.jpeg') }}" alt="Wellness">
    </div>
</section>

<section class="wellness-goals">
    <h2>Take your Wellness to the next level</h2>
    <div class="goal-cards">
        <div class="goal-card">
            <img src="{{ url_for('static', filename='images/image6.jpeg') }}" alt="Goal 2">
            <p>Make working out more fun and rewarding with challenges and the support of your friends.</p>
        </div>
    </div>
</section>

<section class="community">
    <h2>Member community</h2>
    <div class="community-feedback">
        <div class="feedback-card">“This is an Amazing website”<br><span>Nathan</span><br><span>best fit</span></div>
        <div class="feedback-card">“A fantastic bit of work”<br><span>paul</span><br><span>IT manager</span></div>
        <div class="feedback-card">“A genuinely good work.best for all the busy people”<br><span>Natasha</span><br><span>work Mom</span></div>
    </div>   
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home_interaction.js')}}"></script> 
{% endblock %}
