{% extends "based.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_input.css') }}">
{% endblock %}

{% block navbar %}
<a href="{{ url_for('home') }}">Home</a>
<a href="#">Data Analysis</a>
<a href="Templates/base.html">Account</a>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Upload Fitness Data</h2>

  <form>
    <label for="fileUpload">Choose CSV/Excel file:</label><br>
    <input type="file" id="fileUpload" name="fitnessFile" disabled><br><br>

    <label>Select Data Columns to Analyze:</label><br>
    <input type="checkbox" disabled> Steps<br>
    <input type="checkbox" disabled> Calories Burned<br>
    <input type="checkbox" disabled> Workout Duration<br>
    <input type="checkbox" disabled> Sleep Hours<br><br>

    <a href="{{ url_for('results') }}">
      <button type="button" class="btn" disabled>Proceed to Graph</button>
    </a>
  </form>
</div>
{% endblock %}
