{% extends "base.html" %}

{% block title %}
  <title>FitBug: Reset Password</title>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_account.css') }}">
{% endblock %}


{% block content %}

<div class="card" style="max-width: 450px; margin: 60px auto; padding: 30px;">
  <h3 class="mb-4 text-center">Reset Your Password</h3>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="new_password" class="form-label">New Password:</label>
      <input type="password" id="new_password" name="new_password" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
    </div>

    <div id="error-message" class="text-danger" style="margin-top: 10px;"></div>
    <div id="strength-indicator" style="margin-top: 10px; font-weight: bold;"></div>

    <button type="submit" class="btn btn-success w-100">Reset Password</button>
  </form>
</div>
{% endblock %}



{% block scripts %}
  <script src="{{ url_for('static',filename='js/password_validate.js') }}"></script>
{% endblock %}

