{% extends "base.html" %}

{% block title %}
  <title>FitBug: Reset Password</title>
{% endblock %}

{% block styles %}
{% endblock %}


{% block content %}
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required><br><br>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password" required><br><br>
      
    <div id="error-message" style="color:red; margin-top:10px;"></div><br>
      
    <div id="strength-indicator" style="margin-top:10px; font-weight:bold;"></div>
    <button type="submit" id="submitBtn">Reset Password</button>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div style="color:red;">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static',filename='js/password_validate.js') }}"></script>
{% endblock %}

